$base0: #002b36;
$primary: #0ab2b8;

@import '~hint.css/hint.min.css';
@import './utils';

.App {
  background: $base0;
  padding: 1rem;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;

  a {
    color: $primary;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    width: 100%;
    border-top: 1px solid rgba(white, 0.1);
    margin: 1rem 0;
  }

  * {
    margin: 0;
    padding: 0;
    font: inherit;
    background: transparent;
    border: none;
    outline: none;
  }
}

.Help {
  padding: 1rem;

  .code {
    font-family: monospace;
    background-color: rgba(black, 0.5);
    padding: 1rem;
    margin: 0.5rem 0;
  }

  > div + div {
    margin-top: 0.5rem;
  }
}

.Tabs {
  height: 2.5rem;
}

.Tab {
  background-color: rgba(black, 0.1);
  cursor: pointer;
  padding: 0.5rem 1rem;

  &.active {
    color: $primary;
    background-color: rgba(black, 0.2);
  }

  & + .Tab {
    margin-left: 0.5rem;
  }
}

.Content {
  margin-top: 0.5rem;

  .category {
    & + .category {
      margin-top: 1.5rem;
      padding-top: 1rem;
      border-top: 1px solid rgba(white, 0.1);
    }
  }
}

.list-item {
  background-color: rgba(black, 0.1);

  .item-badge {
    margin-left: auto;
    background-color: rgba(white, 0.1);
    border-radius: 3px;
    padding: 0.3rem;
    line-height: 0.6rem;
    display: flex;
    justify-content: center;

    & + .item-badge {
      margin-left: 0.5rem;
    }
  }

  .item-title {
    height: 2rem;
    text-transform: uppercase;
  }

  &.opened {
    padding: 1rem;
    > div:first-child {
      margin-bottom: 1rem;
    }
  }

  &.closed {
    transition: background-color 200ms ease;

    > div:first-child {
      padding: 1rem;
    }

    &:hover {
      background-color: rgba(black, 0.2);
    }
  }

  & + .list-item {
    margin-top: 0.5rem;
  }
}

.Switch {
  > div {
    opacity: 0.5;
    cursor: pointer;
    padding: 0.2rem;
    background-color: rgba(black, 0.5);
  }
  .active {
    opacity: 1;
  }
}

.action-btn {
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  background-color: rgba(black, 0.2);
  transition: background-color 200ms ease;

  &:hover {
    background-color: rgba(black, 0.3);
  }
}

.action {
  & + .action {
    margin-top: 0.5rem;
  }
}

.log {
  .log-time {
    color: rgb(38, 139, 210);
  }
}

.json-root {
  > ul {
    background-color: transparent !important;
  }
}
